* {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar Css */

#nav-bar {
  background-color: #7a003c;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar ul {
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.m-logo {
  margin: 10px 0px 10px 50px;
  width: 75px;
}

.profile-icon {
  text-decoration: none;
  font-size: 40px;
  color: #b2b2b2;
  cursor: pointer;
}

.profile-icon:hover {
  color: #ffffff;
}

.sign-in-btn {
  display: inline-flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #ffc057;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.sign-in-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sign-in-btn p {
  margin-right: 5px;
}

.active .profile-icon {
  color: white;
}

.active svg {
  fill: white;
  stroke: white;
}

nav .menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 2.2rem;
  right: 5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #ffc057;
  border-radius: 0.5rem;
}

@media (max-width: 1000px) {
  nav .menu {
    display: flex;
  }

  #nav-bar {
    flex-direction: column;
    align-items: start;
  }

  #nav-bar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  #nav-bar ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  #nav-bar ul.open {
    display: flex;
  }
}

/* Search Bar Css */

.search-bar-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}

.search-container {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 3rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

#search-bar-icon {
  background-color: white;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
}

.search-input:focus {
  outline: none;
}

@media (max-width: 500px) {
  .search-bar-container {
    min-width: 300px;
  }

  .search-container {
    height: 2rem;
  }

  .search-container input {
    font-size: 18px;
  }
}

/* Search Result CSS */

.search-results {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #d8d8d8;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 215px;
  overflow-y: scroll;
  padding-left: 7px;
}

.search-results div {
  background-color: white;
}

.course-link:hover {
  background-color: #e5e5e5;
}

/* Home Page CSS */

.home-page {
  background-color: #7a003c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91.5vh;
  padding-left: 60px;
}

#home-title {
  color: #ffc057;
  font-size: 80px;
}

#title-description {
  color: #ffc057;
  margin: 25px 0px 35px 0px;
}

@media (max-width: 500px) {
  .home-page {
    padding-left: 20px;
  }
  #home-title {
    font-size: 40px;
  }
  #title-description {
    font-size: 20px;
  }
}

/* Course Page CSS */

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc057;
  height: 300px;
}

.course-code {
  color: #7a003c;
  font-size: 5rem;
  text-align: center;
}

.course-title {
  color: #7a003c;
  text-align: center;
}

.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.course-stats {
  margin-top: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  background-color: #7a003c;
  border-radius: 20px;
  align-items: center;
  width: 90%;
}

.number-of-ratings {
  color: #ffc057;
  font-size: 20px;
  text-align: center;
}

.average-rating {
  color: #ffc057;
  text-align: center;
  font-size: 20px;
}

.create-rating-btn-container {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 3;
}

.create-rating-btn {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #ffc057;
  cursor: pointer;
}

.create-rating-btn p {
  margin-right: 5px;
}

.create-rating-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.course-ratings {
  width: 90%;
}

.course-ratings h3 {
  margin: 30px 0px 30px 0px;
  font-size: 30px;
  color: #7a003c;
}

@media (max-width: 750px) {
  .course-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .create-rating-btn-container {
    grid-area: 1/2/2/3;
  }
}

@media (max-width: 500px) {
  .course-code {
    font-size: 60px;
  }
  .course-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/* Search Page CSS */

.search-page-container {
  background-color: #7a003c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91.5vh;
}

.search-page-title {
  color: #ffc057;
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
}

@media (max-width: 500px) {
  .search-page-title {
    font-size: 35px;
  }
}

/* Not Found Page CSS */

.not-found-container {
  background-color: #7a003c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91.5vh;
}

.not-found {
  color: #ffc057;
  text-align: center;
  font-size: 80px;
}

@media (max-width: 500px) {
  .not-found {
    color: #ffc057;
    text-align: center;
    font-size: 50px;
  }
}

/* Stars CSS */

.stars {
  font-size: 30px;
  color: #ffc057;
  margin: 1px;
}

@media (max-width: 550px) {
  .stars {
    font-size: 20px;
    color: #ffc057;
    margin: 1px;
  }
}

/* Rating-entries */

.rating-entry {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  border-top: 2px solid #e5e5e5;
  padding: 20px 0px 20px 5px;
}

.overall {
  grid-row-start: 1;
}

.ease {
  grid-row-start: 2;
}

.practicality {
  grid-row-start: 3;
}

.enjoyability {
  grid-row-start: 4;
}

.review {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  grid-area: 2 / 2 / 5 / 3;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: #b2b2b2;
}

.edit-btn {
  color: white;
  display: inline-flex;
  margin: 10px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.update-btn {
  background-color: #008cba;
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 650px) {
  .rating-entry div {
    font-size: 10px;
  }

  .edit-btn {
    margin: 10px;
    font-size: 20px;
    padding: 2.5px;
    border-radius: 2.5px;
  }
}

/* Write Rating CSS */

.write-title {
  text-align: center;
  color: #7a003c;
}

.rating-page {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 100%;
}

.rating-form-stars {
  padding-top: 30px;
  width: 90%;
}

.star-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.selectable-star {
  font-size: 35px;
  cursor: pointer;
  margin-right: 5px;
}

.rating-title {
  color: #7a003c;
  font-size: 25px;
}

.rating-description {
  margin: 5px 0px 10px 0px;
  color: #808080;
}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.comment-prompt {
  width: 100%;
  padding-bottom: 15px;
}

#comment {
  width: 100%;
  font-size: 15px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: none;
}

.post-button {
  color: white;
  margin: 20px 0px 20px 0px;
  width: 125px;
  font-size: 16px;
  padding: 15px;
  border-radius: 15px;
  border: none;
}

.button-enabled {
  cursor: pointer;
  background-color: #7a003c;
}

.button-enabled:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-disabled {
  cursor: not-allowed;
  background-color: #b2b2b2;
}

/* Dashboard CSS */

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.dashboard-title {
  color: #7a003c;
}

.dashboard-button-container {
  display: flex;
  flex-direction: column;
}

.dashboard-button {
  margin-top: 30px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.dashboard-button:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-panel {
  padding: 20px;
}

.dashboard-email {
  color: #737373;
  font-size: 12px;
}

.left-panel {
  border-right: solid #f2f2f2;
  height: 100vh;
}

.right-panel {
  display: block;
  flex-direction: column;
}

.logout-btn-container {
  width: auto;
}

.logout-btn {
  margin-top: 30px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  background-color: #ffc057;
  padding: 15px;
}

.logout-btn:hover {
  background-color: #7a003c;
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.right-panel h1 {
  color: #7a003c;
}

.dashboard-num-rating {
  margin-bottom: 15px;
  color: #737373;
}

.dashboard-course-code {
  color: #7a003c;
  font-size: 20px;
}

@media (max-width: 500px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }

  .left-panel {
    height: 250px;
    border-right: none;
    border-bottom: solid #f2f2f2;
  }
}

/* Rating Block CSS */

.rating-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7a003c;
  padding: 20%;
  border-radius: 10px;
  font-size: 20px;
  height: 100%;
}

.rating-block-container:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .rating-block-container h3 {
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  .rating-block-container h3 {
    font-size: 10px;
  }
}

/* Most Rating Page CSS */

.main-rating-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91.5vh;
  background-color: #ffc057;
  align-items: center;
}

.main-rating-page-container h2 {
  color: #7a003c;
  font-size: 40px;
  margin: 50px 0px 50px 0px;
}

.most-rating-container {
  margin: 0px 0px 0px 0px;
  display: grid;
  width: 95%;
  gap: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 500px) {
  .main-rating-page-container h2 {
    font-size: 25px;
  }
}
