* {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar Css */

#nav-bar {
  background-color: #ffc057;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar ul {
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.m-logo {
  margin: 10px 0px 10px 50px;
  width: 75px;
}

.profile-icon {
  text-decoration: none;
  font-size: 40px;
  color: #808080;
  cursor: pointer;
}

.profile-icon:hover {
  color: #000000;
}

.sign-in-btn {
  display: inline-flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #7a003c;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.sign-in-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sign-in-btn p {
  margin-right: 5px;
}

.active .profile-icon {
  color: black;
}

.active svg {
  fill: black;
  stroke: black;
}

nav .menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 2.2rem;
  right: 5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #7a003c;
  border-radius: 0.5rem;
}

@media (max-width: 1000px) {
  nav .menu {
    display: flex;
  }

  #nav-bar {
    flex-direction: column;
    align-items: start;
  }

  #nav-bar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  #nav-bar ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  #nav-bar ul.open {
    display: flex;
  }
}

/* Search Bar Css */

.search-bar-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.search-container {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 3rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

#search-bar-icon {
  background-color: white;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
}

.search-input:focus {
  outline: none;
}

/* Search Result CSS */

.search-results {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #d8d8d8;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 215px;
  overflow-y: scroll;
}

.search-results div {
  margin-left: 5px;
  background-color: white;
}

/* Home Page CSS */

.home-page {
  background-color: #ffc057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91.5vh;
  padding-left: 60px;
}

#home-title {
  color: #7a003c;
  font-size: 80px;
}

#title-description {
  color: #7a003c;
  margin: 25px 0px 35px 0px;
}
